@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing:border-box;
  padding: 0;
  margin:0;
}

body{
  font-family: "Roboto", sans-serif;
}

.contenedor-nav{
  background: #252741;
  color:white;
  display:flex;
  justify-content: space-around;
  height:70px;
  align-items: baseline;
} 

.contenedor-nav h2{
  padding-top: 5px;
  margin-right:200px;
  font-family: "Dancing Script", cursive;
  font-size:2.5rem;
  color: #e0be15;
}

ul{
  list-style-type:none;
  display:flex;
  gap:30px;
}

a{
  text-decoration:none;
  color:white;
  font-size:18px;
  font-weight:bold;
}

a:hover{
  color: #e0be15;
}


.contenedor-header{
  /*background-image: url("images/gradient-unsplash.jpg")*/
  background: #252741;
  display:flex;
  height:400px;
  justify-content:space-around;
  align-items:center;
}

.contenedor-texto{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:flex-start;
  gap:5px;
  color:white;
  width: 500px;
  height: 100%;
  padding:30px;
}

.contenedor-texto p{
  line-height:1.2;
  font-size:18px;
}

.contenedor-texto button{
  width: 30%;
  height: 40px;
  margin-top:8px;
  background-color: #e0a800;
  border:1px solid #e0be15;
  border-radius: 8px;
  color: #fff;
  font-weight:900;
  font-size:1rem;
  cursor: pointer;
}

button:hover{
  background: #a37a00;
}




.imagen-header{
  width:400px;
  border:3px solid rgb(224,190,21);
  border-radius:10px;
}
