@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing:border-box;
  padding: 0;
  margin:0;
}

body{
  font-family: "Roboto", sans-serif;
  background-image: url("images/fondo.jpg");
  background-size:cover;
}

.contenedor-nav{
  background: rgba(35,39,65,0.8);
  color:white;
  display:flex;
  justify-content: space-around;
  height:70px;
  align-items: baseline;
} 

.contenedor-nav h2{
  padding-top: 5px;
  margin-right:200px;
  font-family: "Dancing Script", cursive;
  font-size:2.5rem;
  color: #e0be15;
}

ul{
  list-style-type:none;
  display:flex;
  gap:30px;
}

a{
  text-decoration:none;
  color:white;
  font-size:18px;
  font-weight:bold;
}

a:hover{
  color: #e0be15;
}


.contenedor-header{
  /*background: #252741;*/
  background: rgba(35,39,65,0.8);
  display:flex;
  height:400px;
  justify-content:space-evenly;
  align-items:center;
}

.contenedor-texto{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:flex-start;
  gap:5px;
  color:white;
  width: 500px;
  height: 100%;
  padding:30px;
}


.contenedor-texto p{
  line-height:1.2;
  font-size:18px;
}

.boton{
  width: 30%;
  height: 40px;
  margin-top:8px;
  background-color: #e0a800;
  border:1px solid #e0be15;
  border-radius: 8px;
  color: #fff;
  font-weight:900;
  font-size:1rem;
  cursor: pointer;
}

.boton:hover{
  background: #a37a00;
}

.imagen-header{
  width:500px;
  border:3px solid rgb(224,190,21);
  border-radius:10px;
}

h2{ 
   height:80px;
   display:flex;
   align-items:flex-end;
   justify-content:center;
   font-size:2rem;
   color:#fff;
  /*background: #252741;*/
  background: rgba(35,39,65,0.8);
 } 

.contenedor-tarjetas{
  /*background: #252741;*/
  background: rgba(35,39,65,0.8);
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  height:250px;
  flex-wrap:wrap;
  
}


.tarjetas{
  width:300px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.img-tarjetas{
  width:200px;
  border:3px solid rgb(224,190,21);
  border-radius:10px;
  margin-bottom:20px;
}

.tarjetas p{
  color: #fff;
}

.contenedor-cita{
  display:flex;
  background: rgba(35,39,65,0.8);
  flex-direction:column;
  justify-content:center;
  align-items: center;
  height:400px;
  text-align:center;

}


.contenedor-cita p{
  color:white;
  font-size:30px;
  font-family: sans-serif;
  font-style:italic;
  font-weight:lighter;
}

.nombre{
  align-self:flex-end;
  margin-right:50px;
}

.nombre p{
  font-size:1.2rem;
  font-weight:bold;
}

.contenedor-accion{
  display:flex;
  height:150px;
  justify-content:center;
  gap:100px;
  align-items :center;
  background: rgba(35,39,65,0.8);
}

.contenedor-accion button{
  width:130px;
  height:50px;
  background-color: #e0a800;
  color: #fff;
  font-size:1rem;
  font-weight:900;
  border:1px solid #e0be15;
  border-radius: 8px;
  cursor:pointer;
}
button:hover{
  background: #a37a00;
}

.contenedor-texto-accion{
  width:30%;
  color:#fff;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contenedor-texto-accion h3{
  font-size: 25px;
}

.pie{
  display:flex;
  justify-content:center;
  align-items:center;
  height:50px;
  background: #252741;
  color: #e0a800;
  font-size:1.3rem;
}







